name = "Astroalign"
uuid = "7f4629bd-323a-4fad-ad42-4ee56350f27f"
version = "0.1.0"

[workspace]
projects = ["test", "docs"]

[deps]
Combinatorics = "861a8166-3701-5b0c-9a16-15d98fcdc6aa"
CoordinateTransformations = "150eb455-5306-5404-9cee-2592286d6298"
Distances = "b4f34e82-e78d-54a5-968a-f98e89d6e8f7"
ImageTransformations = "02fcd773-0e25-5acc-982a-7f6622650795"
NearestNeighbors = "b8a86587-4115-5ab1-83bc-aa920d37bbce"
PSFModels = "9ba017d1-7760-46cd-84a3-1e79e9ae9ddc"
Photometry = "af68cb61-81ac-52ed-8703-edc140936be4"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
Aqua = "0.8"
Combinatorics = "1"
CoordinateTransformations = "0.6"
Distances = "0.10"
ImageTransformations = "0.10"
IndexFunArrays = "0.2.7"
NearestNeighbors = "0.4"
PSFModels = "0.8.2"
ParallelTestRunner = "2.4"
Photometry = "0.9"
Random = "1.11.0"
StaticArrays = "1.9.17"
Test = "1.11"
julia = "1.10, 1.11, 1.12"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
ParallelTestRunner = "d3525ed8-44d0-4b2c-a655-542cee43accc"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
IndexFunArrays = "613c443e-d742-454e-bfc6-1d7f8dd76566"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"

[targets]
test = ["Test", "Pkg", "Aqua", "ParallelTestRunner", "Random", "IndexFunArrays"]
